<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <script data-main="js/main" type="text/javascript" src="js/require-jquery.js"></script>
    <script type="text/javascript" src="js/drawing/lib/util.js"></script>
    <script type="text/javascript" src="js/drawing/lib/_canvas.js"></script>
    <script type="text/javascript" src="js/drawing/lib/drawing.js"></script>
    <script type="text/javascript" src="js/drawing/lib/image_component.js"></script>
    <script type="text/javascript" src="js/drawing/lib/canvas_images.js"></script>
    <script type="text/javascript" src="js/drawing/birthday_arrange.js"></script>

    <!-- <script data-main='js/main.js' src="js/require-jquery.js"></script> -->
    <!-- template --> 
<div class="content">
<script type="text/template" id="ownerTpl">
<div class="owner clearfix">
  <div class="owner-left">
    <ul>
      <li class="owner-img"><img src="<%-User.fb_picture%>" width="80" height="80" /></li>
      <li class="owner-name">発起人： <a href="#"><%-User.username%></a></li> <br />
     </ul>
  </div>

  <div class="owner-right">
    <button>新規作成</button>
  </div>
  </div>
</script>

<script type="text/template" id="cardTpl">
    <div class="card clearfix">
      <div class="card-left">
        <ul>
          <li class="target-img"></li>
          <li class="target-name"></li>
        </ul>
      </div>
      <div class="card-right">
        <ul class="members">
        </ul>
        <!--
        <div class="send-btn">
            <button>カードを送る</button>
        </div>
        -->
      </div>
    </div>
</script>

<script type="text/template" id="canvasTpl">
  <canvas id="canvas"></canvas>
  <BUTTON onclick="drawing.upload()">save</BUTTON>
  
  <div id="imageList"></div>

</script>

<!--<div>
          <li class="member-othoer"><a href="#">他6人</a></li>
          <li>が協力しました。</li>
        </div>-->

<script type="text/template" id="planTpl">
    <ul>
      <% _.each(Plans, function(plan) { %>
      <li class="target-img"><img src="<%-plan.Plan.fb_picture%>" width="50" height="50" /></li>
      <li class="target-name">贈る相手：<br />
        <a href="#"><%-plan.Plan.username%></a>さん</li>

        <div class='create_image' style="margin-bottom:20px;">
          <button>カードを作る</button>
        </div>

        <div class="send-btn">
            <button>カードを送る</button>
        </div>

      <% }); %>
    </ul>

</script>

<script type="text/template" id="memberTpl">
  <li class='collaboratorPeople'><%-length%>人が協力しています</li>
</script>

<script type="text/template" id="selectFriendTpl">
    <div class='select-friend'>
        
    </div>
</script>

<script type="text/template" id="friendInfoTpl">
    <li class="friend-info"><a href="#">
          <ul>
            <li class="friend-img"><img src="<%-fb_picture%>"></li>
            <li class="friend-name"><%-name%></li>
          </ul>
      </a> </li>
</script>

<script type="text/template" id="insertPlanSuccessTpl">
    <div>
        success
    <div>
</script>

<script type="text/template" id="insertPlanErrorTpl">
    <div>
        error
    <div>

</script>

    <link rel="stylesheet" href="/css/style.css">
    <title>test</title>
</head>

  </div>
<body>
    
      <div class="main_contents">
      </div>
    
</div>
</body>
</html>