@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;

}

button {
    padding: .5em;
    font-size: 110%;
}

canvas#canvas {
    border: solid 1px lightgray;
    display: block;
    margin: 0 auto;
}

body {
    background: url(../img/bg.jpg);
    font-family:museo-sans-rounded,"Helvetica Neue",Verdana,sans-serif;
    text-shadow: 0 1px 0 #FFFFFF;
	font-size:14px;
}


li {
    list-style: none;
}

img {
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);    
-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.clearfix {
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

#wrapper {
}

#header {
    height: 30px;
    color: #FFF;
    margin: 10px;
    padding:0 0 10px;
    font-size: 12px;
    border-bottom:1px dashed #999;
    
}
#header a {
    color:#666;
}





.logo {
    margin-top: 5px;
    float: left;
    font-size:22px;/*追加20120924*/
}

.logo a {
    font-size: 20px;
}

.setting {
    float: right;
    padding-top: 5px;
}

/*content*/

.content/*, #footer*/ {
    padding: 10px;
}

.content, .card, .card-sample {
    clear: both;
}

.owner{
    position: relative;
}

/*owner*/
.owner-left {

}

.owner-img img,.target-img img {
    border:1px solid #999;

}

.owner-right {
    position: absolute;
    top:0;
    left: 130px;
    right: 0;
    height: 100px;
    padding-top: 50px;
}

.owner-left ul {
    margin-left:10px !important;
}

.owner-name, .target-name {
}

.target-img {
    width: 50px;
    height: 50px;

}

/*card*/

.card {
    margin-top: 20px;
    border-top: 1px dashde #999;
    padding: 10px 0;
}

.card-left {
}

.card-right {
    float: right;
    width: 150px;
    margin-left: 20px;
}

.card-right li {
    display: inline;
    font-size: 11px;
}

/*card-sample*/

.card-sample {
    margin-top: 20px;
    font-size: 12px;
}

.card-sample img {
    width: 300px;
}

#footer {
    text-align: center;
    color:#666;
    padding: 10px;
    font-size: 12px;
    border-top:1px dashed #999;
    margin:10px;
}

#footer a {
    color:#666;
}


/*ここからターゲット*/

.friend-info {
    width: 100px;
    float: left;
    margin-bottom: 10px;
    font-size: 12px;
}

.friend-img {
    height: 70px;
}

.friend-img img{
    border:1px solid #999;
}
/*20120924追加*/
.friend-info img {
    width: 70px;
    height: 70px;
}

.serch-box {
    margin-bottom: 10px;
}

.serch-box input {
    height: 20px;
}
/*20120924追加*/
.flow-title{
    text-align:center;
}

.flow-discription {
    font-size: 14px;
    margin-top: 10px;
    text-align:center;/*20120924追加*/

}

.appeal-btn {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.flow-discription img {
    -moz-box-shadow: 1px 1px 3px #000;
    　 /* Firefox用 */ -webkit-box-shadow: 1px 1px 3px #000;
    　 /* Safari,Google Chrome用 */
}

/*sent*/

.back-mypage {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.profile-img {
    text-align: center;
    margin-top: 30px;
}

.thanks-content {
    height: 400px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0000ff;
}

.flash-message {
    height: 30px;
}

.success-bg {
    background: #D5FFDF;
}

.error-bg {
    background: #ffdbe4;
}

.fm-success-icon {
    background: url(../img/success_01.png) no-repeat;
    width:      35px;
    height:     35px;
    float:      left;
}

.fm-error-icon {
    background: url(../img/error.png) no-repeat;
    width:      35px;
    height:     35px;
    float:      left;
}

.flash-message-text {
    height:      20px;
    font-weight: bold;
}

.success-text {
    color:       #009900;
    font-size:   10px;
    padding-top: 7px;
}

.error-text {
    color:       #ef005b;
    font-size:   9px;
    padding-top: 7px;
}

.tool {
    margin:     .5em;
    text-align: center;
}


ul.plans{
    margin: 0;
    padding-top: 10px;
}

ul.plans li{
    position: relative;

    padding: 10px;
    width: 300px;
    height: 250px;
    float: left;
}

ul.plans .target-img{

    margin-bottom: 10px;
}

ul.plans .target-name{

    position: absolute;
    left: 80px;
    top: 20px;
    right: 0;
    font-size: 110%;
}


img.preview{
    max-width:100%;
    display: block;
    margin: 0 auto;
}


/* mypage*/
.tools button.btn{
    width: 280px;
}

.tools button.btn.disabled{
    display:none;
}

ul.plans .actions{
    position: absolute;
    right: 20px;
    top: -10px;
    z-index: 1;
}

/*20120926天野*/
ul.plans .actions img{
	box-shadow:none;
}


.loading
{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.loading img{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}

#tools{
    display:none;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

#tools .closeBtn{
    text-align: right;
}

#drawing_bold li{
    float: left;
}

#drawing_color{
    margin: 5px;
}

#drawing_color li{
    float: left;
    width: 43px;
    line-height: 40px;
}

#drawing_color .colorBox{
    width: 43px;
}


/*
 * for mibile
 */
@media screen and (max-width: 480px) {

    .toolInfoForPC{
        display:none;
    }

    .drawCanvas{
        display:none;
        position:absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        background: url(../img/bg.jpg);
    }

}

/**
 * for pc
 */
@media screen and (min-width: 481px) {

    .toolInfoForMobile{
        display:none;
    }

    .drawCanvas{
        position:relative;
    }

}

