@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;

}

button {
    padding: .5em;
    font-size: 110%;
}

canvas#canvas {
    border: solid 1px lightgray;
    display: block;
    margin: 0 auto;
}

body {
    background: url(../img/bg-gray.png);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

li {
    list-style: none;
}

img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.clearfix {
    overflow: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

#wrapper {
}

#header {
    height: 20px;
    background: url(../img/header-bg.png);
    color: #FFF;
    padding: 2px 10px 10px 10px;
    font-size: 12px;
}

#header a {
    color: #FFF;
}

.logo {
    margin-top: 5px;
    float: left;
}

.logo a {
    font-size: 20px;
}

.setting {
    float: right;
    padding-top: 5px;
}

/*content*/

.content, #footer {
    padding: 10px;
}

.content, .card, .card-sample {
    clear: both;
}

.owner{
    position: relative;
}

/*owner*/
.owner-left {

}

.owner-right {
    position: absolute;
    top:0;
    left: 130px;
    right: 0;
    height: 100px;
    padding-top: 50px;
}

.owner-name, .target-name {
}

.target-img {
    width: 50px;
    height: 50px;

}

/*card*/

.card {
    margin-top: 20px;
    border-top: 1px solid #999;
    padding: 10px 0;
}

.card-left {
}

.card-right {
    float: right;
    width: 150px;
    margin-left: 20px;
}

.card-right li {
    display: inline;
    font-size: 11px;
}

/*card-sample*/

.card-sample {
    margin-top: 20px;
    font-size: 12px;
}

.card-sample img {
    width: 300px;
}

/*#footer*/

#footer {
    text-align: center;
    background: url(../img/header-bg.png);
    color: #FFF;
    padding: 4px 10px;
    font-size: 12px;
}

#footer a {
    color: #FFF;
}

/*ここからターゲット*/

.friend-info {
    width: 100px;
    float: left;
    margin-bottom: 10px;
    font-size: 12px;
}

.friend-img {
    height: 70px;
}

.friend-info img {
    width: 70px;
    height: 70px;
}

.serch-box {
    margin-bottom: 10px;
}

.serch-box input {
    height: 20px;
}

.flow-discription {
    font-size: 12px;
    margin-top: 10px;
}

.appeal-btn {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.flow-discription img {
    -moz-box-shadow: 1px 1px 3px #000;
    　 /* Firefox用 */ -webkit-box-shadow: 1px 1px 3px #000;
    　 /* Safari,Google Chrome用 */
}

/*sent*/

.back-mypage {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.profile-img {
    text-align: center;
    margin-top: 30px;
}

.thanks-content {
    height: 400px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0000ff;
}

.flash-message {
    height: 30px;
}

.success-bg {
    background: #D5FFDF;
}

.error-bg {
    background: #ffdbe4;
}

.fm-success-icon {
    background: url(../img/success_01.png) no-repeat;
    width:      35px;
    height:     35px;
    float:      left;
}

.fm-error-icon {
    background: url(../img/error.png) no-repeat;
    width:      35px;
    height:     35px;
    float:      left;
}

.flash-message-text {
    height:      20px;
    font-weight: bold;
}

.success-text {
    color:       #009900;
    font-size:   10px;
    padding-top: 7px;
}

.error-text {
    color:       #ef005b;
    font-size:   9px;
    padding-top: 7px;
}

.tool {
    margin:     .5em;
    text-align: center;
}


ul.plans{
    margin: 0;
}

ul.plans li{
    position: relative;

    padding: 10px;
    width: 300px;
    height: 250px;
    float: left;
}

ul.plans .target-img{

    margin-bottom: 10px;
}

ul.plans .target-name{

    position: absolute;
    left: 80px;
    top: 20px;
    right: 0;
    font-size: 110%;
}


img.preview{
    max-width:100%;
    display: block;
    margin: 0 auto;
}


/* mypage*/
.tools button.btn{
    width: 280px;
}

.tools button.btn.disabled{
    display:none;
}

ul.plans .actions{
    position: absolute;
    right: 10px;
    top: 0;
}

.loading
{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: relative;
}

.loading img{
    display: block;
    margin-top: -12px;
    position: absolute;
    top: 50%;
}



