@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	
}

button{
    padding: .5em;
    font-size: 110%;
}

canvas#canvas{
    border: solid 1px lightgray;
}

body{
	background:url(../img/bg-gray.png);
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
li{
	list-style:none;
}

img{
	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);　/* Firefox用 */  
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.4);　/* Safari,Google Chrome用 */ 
}


.clearfix{
overflow: hidden;
}
.clearfix:after {
content: "";
display: block;
clear: both;
height: 1px;
overflow: hidden;
}

#wrapper{
	width:320px;
}
#header{
	width:300px;
	height:20px;
	background:url(../img/header-bg.png);
	color:#FFF;
	padding:2px 10px 10px 10px;
	font-size:12px;
}

#header a{
	color:#FFF;
}

.logo{
	float:left;
}
.logo a{
	font-size:20px;
}

.setting{
	float:right;
	padding-top:5px;
}


/*content*/

.content,#footer{
	padding:10px;
}

.content,.card,.card-sample{
	clear:both;
}


/*owner*/
.owner-left{
	float:left;
}



.owner-right{
	float:right;
	padding-top:50px;
	padding-right:70px;
}

.owner-name,.target-name{
	font-size:12px;
}

.target-img{
	width:50px;
	height:50px;
	
}



/*card*/

.card{
	margin-top:20px;
	border-top:1px solid #999;
	padding:10px 0;
}

.card-left{
}

.card-right{
	float:right;
	width:150px;
	margin-left:20px;
}




.card-right li{
	display:inline;
	font-size:11px;
}




/*card-sample*/

.card-sample{
	margin-top:20px;
	font-size:12px;
}

.card-sample img{
	width:300px;
}

/*#footer*/

#footer{
	background:url(../img/header-bg.png);
	color:#FFF;
	padding:4px 10px;
	font-size:12px;
}

#footer a{
	color:#FFF;
}



/*ここからターゲット*/

.friend-info{
	width:100px;
	float:left;
	margin-bottom:10px;
	font-size:12px;
}

.friend-img{
	height:70px;
}

.friend-info img{
	width:70px;
	height:70px;
}

.serch-box{
	margin-bottom:10px;
}

.serch-box input{
	height:20px;
}

.flow-discription{
	font-size:12px;
	margin-top:10px;
}


.appeal-btn{
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
	
}

.flow-discription img{
	-moz-box-shadow: 1px 1px 3px #000;　/* Firefox用 */  
	-webkit-box-shadow: 1px 1px 3px #000;　/* Safari,Google Chrome用 */ 
	}
	
	
	/*sent*/
	
	
.back-mypage{
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
	
}

.profile-img{
	text-align:center;
	margin-top:30px;
}


.thanks-content{
	height:400px;
}

a {
    font-size : 11px;
    text-decoration : none;
}

a:hover {
    color : #0000ff;
}

.flash-message {
        width:320px;
        height:30px;
        background:#D5FFDF;
}

.fm-success-icon {
        background : url(../img/success_01.png) no-repeat;
        width      : 35px;
        height     : 35px;
        float      : left;
}
.fm-error-icon {
        background : url(../img/error.png) no-repeat;
        width      : 35px;
        height     : 35px;
        float      : left;
}
.flash-message-text {
    height      : 20px;
    margin-top  : 5px;
    font-weight : bold;
    color       : #FFFF00;
}
.success {
    color : #009900;
    font-size : 14px;
}
.error {
    color : #ef005b;
    font-size : 9px;
    padding-top : 7px;
}

