<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <?= $this->Html->charset(); ?>
    <title><?= h($title_for_layout); ?></title>
    <?= $this->Html->meta('icon'); ?>
    <?= $scripts_for_layout; ?>
<link rel="stylesheet" href="css/style.css"  />

    <script type="text/javascript">

<? if (ENV_MODE == 'pro') { ?>


<? } ?>

</script>
</head>
<body>
<? if (ENV_MODE != 'pro') { ?>
<? } ?>
    <div id="container">
        <?= $this->Session->flash(); ?>
        <div id="content">
            <?= $content_for_layout; ?>
        </div>
        <div id="footer" class="whole-footer">
            Copyright &copy; <?= date('Y'); ?> <?= PRODUCT_FROM ?> all rights reserved.
        </div>
        <? if (ENV_MODE != 'pro') { ?>
        <hr>
        <?= $this->element('sql_dump');  ?>
        <? } ?>
    </div>
</body>
</html>
