<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <?= $this->Html->charset(); ?>
    <title><?= h($title_for_layout); ?></title>
    <?= $this->Html->meta('icon'); ?>
    <?= $scripts_for_layout; ?>
    <?= $this->Html->css('style'); ?>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

    <script type="text/javascript">
        $(function(){
            $('#flash-message-success').fadeIn(1000).delay(3000).fadeOut(1000);
            if (window.location.hash == '#_=_') {
                window.location.hash = '';
            }
        });

<? if (ENV_MODE == 'pro') { ?>


<? } ?>

</script>
</head>
<body>
<? if (ENV_MODE != 'pro') { ?>
<? } ?>
    <?= $this->Session->flash(); ?>
    <div id="wrapper">
        <div id="header">
            <div class="logo">HBM</div>
            <? if (!empty($loginUser)) { ?>
            <div class="setting"><a href="/logout">ログアウト</a></div>
            <? } ?>
        </div>
        <div id="content clearfix">
            <?= $content_for_layout; ?>
        </div>
        <div id="footer">
            Copyright &copy; <?= date('Y'); ?> <?= PRODUCT_FROM ?><br />
            all rights reserved.
        </div>
        <? if (ENV_MODE != 'pro') { ?>
        <hr>
        <?= $this->element('sql_dump');  ?>
        <? } ?>
    </div>
</body>
</html>
