<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/vendor/jquery.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/_canvas.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/util.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/drawing.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/birthday_drawing.js'); ?>"></script>
<div>この下のボックスはタッチしたり、クリックしたりすると絵や文章を描いて贈る事ができます。</div>
<div class="drawCanvas">
    <canvas id="canvas"></canvas>

    <div id="tools">
        <div class="closeBtn">
            <a href="javascript:$('#tools').fadeOut()"><img src="/img/del-btn.png"></a>
        </div>
        <ul id="drawing_bold" class="clearfix"></ul>
        <ul id="drawing_color" class="clearfix"></ul>
    </div>

    <button onclick="$('#tools').fadeIn()">ツール</button>
    <button onclick="drawing.upload()">保存</button>
    <button onclick="drawing.clear()">クリア</button>
</div>

<script>
    $(function(){
        drawing = new BirthDrawing("canvas", <?= $planId ?>);

        // create color and bold button
        drawing.create_tools()

    });
</script>

