
<script type="text/javascript" src="js/vendor/jquery.js"></script>
<script type="text/javascript" src="js/lib/_canvas.js"></script>
<script type="text/javascript" src="js/lib/drawing.js"></script>
<script type="text/javascript" src="js/birthday_drawing.js"></script>

<canvas id="canvas"></canvas>
<BUTTON onclick="drawing.upload()">save</BUTTON>

<script>
    $(function(){
        drawing = new BirthDrawing("canvas");
    });
</script>


<!--

<div class="flow-title">画像の提供ありがとうございました！</div>
<div class="flow-discription">
    あなたのプロフィール画像は<br />
    <?= h($name) ?>さんに提供されました。</div>
    <p class="profile-img"><img src="<?= h($imageUrl) ?>" width="100" /></p>
    <p style="text-align:center;margin-top:30px;">
        <a href="/mypage">マイページへ戻る</a>
    </p>
</div>
-->
