<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/vendor/jquery.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/_canvas.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/util.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/drawing.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/birthday_drawing.js'); ?>"></script>
<div>この下のボックスはタッチしたり、クリックしたりすると絵や文章を描いて贈る事ができます。</div>
<canvas id="canvas"></canvas>

<div id="tools">
    <ul id="drawing_bold"></ul>
    <ul id="drawing_color"></ul>
    
    <button onclick="drawing.upload()">保存</button>
    <button onclick="drawing.clear()">クリア</button>
</div>

<script>
    $(function(){
        drawing = new BirthDrawing("canvas", <?= $planId ?>);

        // create color and bold button
        drawing.create_tools()

    });
</script>

