<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/vendor/jquery.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/util.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/_canvas.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/drawing.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/image_component.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/text_component.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/gousei_component.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/lib/canvas_images.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/birthday_deco.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/birthday_arrange.js'); ?>"></script>
<script type="text/javascript" src="<?= Util::getAssetTimestampUrl('/js/drawing/arrange_main.js'); ?>"></script>
<style>
    #wrapper{
        width: auto;
    }
</style>

<canvas id="canvas"></canvas>

<div class="tool">
    <button class="btn btn-large" onclick="drawing.upload()">保存する</button>
</div>

<div id="imageList">

</div>
