<h2><?= h($title_for_page) ?></h2>
<div class="center">
    <table border="0" cellpadding="1" cellspacing="1">
        <tr>
            <th>
                <img src="<?= $loginUser['User']['fb_picture'] ?>" class="left" style="width:22px;height:22px;margin-top:3px;margin-left:3px;" alt="" />
            </th>
            <td>
            </td>
        </tr>
        <tr>
            <th>
hoge
            </th>
            <td>
            </td>
        </tr>
        <tr>
            <th>
hoge
            </th>
            <td class="require">
            </td>
        </tr>
        <tr>
            <th>
hoge
            </th>
            <td class="require">
            </td>
        </tr>
    </table>
</div>
