<script data-main="js/Main" type="text/javascript" src="js/require-jquery.js"></script>
<script type="text/javascript" src="/js/drawing/lib/util.js"></script>
<script type="text/javascript" src="/js/drawing/lib/_canvas.js"></script>
<script type="text/javascript" src="/js/drawing/lib/drawing.js"></script>
<script type="text/javascript" src="/js/drawing/lib/image_component.js"></script>
<script type="text/javascript" src="/js/drawing/lib/canvas_images.js"></script>
<script type="text/javascript" src="/js/drawing/birthday_arrange.js"></script>


<script type="text/template" id="ownerTpl">
<div class="owner clearfix">
  <div class="owner-left">
    <ul>
      <li class="owner-img"><img src="<%-User.fb_picture%>" width="80" height="80" /></li>
      <li class="owner-name">
        <%-User.username%>さん
      </li>
    </ul>
  </div>
  
  <div class="owner-right">
    <button class="btn btn-large">新規作成</button>
  </div>
  </div>
</script>

<script type="text/template" id="canvasTpl">
  <canvas id="bg_canvas"></canvas>
  <canvas id="canvas"></canvas>
  <BUTTON onclick="drawing.upload()">save</BUTTON>
  
  <div id="imageList"></div>
</script>


<script type="text/template" id="cardTpl">
    <div class="card clearfix">
      <div class="card-left">
      </div>
      <div class="card-right">
      </div>
    </div>
</script>

<!--<div>
          <li class="member-othoer"><a href="#">他6人</a></li>
          <li>が協力しました。</li>
        </div>-->

<script type="text/template" id="planTpl">
    <ul>
      <% _.each(Plans, function(plan) { %>

      <li>
          <div class="target-img"><img src="<%-plan.Plan.fb_picture%>" width="50" height="50" /></div>
          <div class="target-name">
              贈る相手：<br />
              <%-plan.Plan.username%></a>さん
          </div>
          <div style="margin-bottom:20px;">
              <a href="/plan/<%-plan.Plan.id%>/post/confirm_fb_timeline">皆に寄せ書きしてもらうように呼びかける</a>
          </div>

          <div class='create_image' style="margin-bottom:20px;">
              <button class="btn btn-large">バースデーカードを<br />組み立てる</button>
          </div>

          <div class="send-btn" style="margin-bottom:20px;">
              <button class="btn btn-large">バースデーカードを<br />送る</button>
          </div>
          <hr style="margin-bottom:20px;">
      </li>

      <% }); %>
    </ul>
</script>


<script type="text/template" id="memberTpl">
  <li class='collaboratorPeople'><%-length%>人が協力しています</li>
</script>

<script type="text/template" id="selectFriendTpl">
    <div class='select-friend'>
    <p style="margin-bottom:10px; text-align:center;">
        バースデーカードを贈りたい相手を<br />
        選択しましょう！
    </p>
        
    </div>
</script>

<script type="text/template" id="friendInfoTpl">
    <li class="friend-info"><a href="#">
          <ul>
            <li class="friend-img"><img src="<%-fb_picture%>"></li>
            <li class="friend-name"><%-name%></li>
          </ul>
      </a> </li>
</script>

<script type="text/template" id="insertPlanSuccessTpl">
    <div>
        success
    <div>
</script>

<script type="text/template" id="insertPlanErrorTpl">
    <div>
        error
    <div>
</script>

<div class="main_contents">
  
</div>

